/* Color variables */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;1,300&display=swap');

$font-family-sans-serif: "Open Sans", sans-serif;
$primary: #2C3E50;
$secondary-blue: #85C1E9;
$secondary-orange: #F39C12;
$secondary-gray: #BDC3C7;
$success: #efdbe4;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary-blue,
        "success": $success,
  //"info":       $info,
  //"warning":    $warning,
  //"danger":     $danger,
  //"light":      $light,
  //"dark":       $dark
);


.modal-footer {
  justify-content: center;
}

@import 'node_modules/bootstrap/scss/bootstrap';


* {
  margin: 0;
  padding: 0;
}


.nav {
  background-color: #fff;
  //color: $success;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2em;
  padding: 0 1rem;

  .wishlist-logo {
    margin: 15px;
    width: 50px;
    height: 50px;
    background: url("../images/wish-list-icon.svg") no-repeat center center/cover;
  }
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1em;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: $primary;
  border-radius: 3px;
  a {
    color: #fff;
  }

}


.home-logo {
  position: absolute;
  display: flex;
  align-items: center;
  top: 5px;
  left: 30px;
}

.menu {
  position: relative;
  width: 100vw;
  display: flex;
  align-content: space-around;
  justify-content: center;

}
.menu li {
  display: block;
}

.nav .menu a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  padding: 30px 0.25rem;
  font-size: 1.4rem;
}

span.user {
  display: inline-block;
  margin-left: 20px;
  font-size: 1.2rem;
}

.home-title {
  color: $primary;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 6px;
  line-height: 1;
  //font-weight: 500;
  //text-transform: uppercase;
  position: relative;
}

.delete-button {
  padding: 0 5px;
  align-items: flex-end;
  border: none;
  background: #fff;
}

.search-friend-modal {
  width: max-content;
}


.home-page {
  .section {


    &-a {
      height: 80vh;

      .home-page-banner {
        margin: 0;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap ;
        height: 100%;

      }


      .home-page-banner:before {
        content: "";
        background: url("../images/sectionA-background.jpg") no-repeat center center/cover;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

    }

    &-b {
      background: $primary;
      color: #fff;
      overflow: auto;
      //margin: -1px;

      div {
        width: 75%;
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        margin: 40px 20px;
        padding: 20px;

        p {
          margin: 25px;
        }

        button {
          padding: 10px 10px;
          border-radius: 20px;
          margin: 0 10px;
          font-size: 18px;
          background: $secondary-blue;
        }
      }

      div:nth-child(even) {
        margin: auto;
        grid-template-columns: 1fr 4fr;
      }

      div:nth-child(odd) {
        margin-left: 10%;
        grid-template-columns: 4fr 1fr;
      }
    }
  }
}


//todo: chose image


//.mask1 {
//  -webkit-mask-image: url(../images/auto.png);
//  mask-image: url(../images/auto.png);
//  -webkit-mask-repeat: no-repeat;
//  mask-repeat: no-repeat;
//  mask-size: 100%;
//}
//
//.mask-footer {
//  -webkit-mask-image: url(../images/wave-footer.png);
//  mask-image: url(../images/wave-footer.png);
//  mask-size: 100%;
//}


#home-aside {
  width: 25em;
  /*position: relative;*/
  font-family: Roboto, sans-serif;
  font-size: 18px;
  float: right;
}

.login-main {
  height: 90vh;
  background-color: #fbfbfe;
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-container {
    width: 40%;
    background-color: #fff;
    //border: #b1b2c4 solid 1px;
    border-radius: 15px;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 2px 2px .4em #b1b2c4, -2px -2px .4em #b1b2c4;



    .social-login {
      margin: 40px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        width: 80%;
        margin-top: 20px;
      }
    }
  }

}


.login-row {
  position: absolute;
  width: 100em;
  top: 15%;
  left: 20%;
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
  width: 600px;
  margin: 30px;
}

.bordered {
  border: solid #ccc 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
  background: #ECECEC;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.bordered th {
  background-color: #ECECEC;
  //background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#ECECEC));
  //background-image: -webkit-linear-gradient(top, #F8F8F8, #ECECEC);
  //background-image: -moz-linear-gradient(top, #F8F8F8, #ECECEC);
  //background-image: linear-gradient(top, #F8F8F8, #ECECEC);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.bordered td:first-child, .bordered th:first-child {
  border-left: none;
}

.bordered th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}

.bordered th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}

.bordered th:only-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}

.table-cell {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.wishlist-menu {
  list-style: none;
  padding: 10px 5px;
}

.wishlist-menu li {
  padding: 5px 0;
}

.wishlist-menu li a {
  color: #5c636a;
  text-decoration: none;

}

.default-table-btn {
  display: block;
  padding: 12px 0;
}

.w-label {
  font-weight: 500;
}


.new-wl-container {
  display: flex;
  //height: 100%;
}

.new-wl-container form {
  justify-self: start;
  padding-left: 20px;
}

.new-wl-item {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin-top: 10px;
  //flex-wrap: wrap;
}

.new-wl-item .inner {
  display: flex;
  justify-content: center;
}

.new-wl-item div:first-child {
  justify-items: start;
}

.new-wl-table {
  padding: 0 10px;
  margin: 30px auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.new-wl-header {

}

.btn-add {
  font-weight: 550;
  color: $secondary-blue;
}

.new-wl-row {
  border-top: 1px solid lightgrey;
}

textarea {
  width: 100%;
  resize: none;
  height: 54px;
  outline: none;
  padding: 15px;
  max-height: 300px;
  border: none;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

.new-wl-table tr th {
  font-size: 18px;
  padding: 12px;
  border: 1px solid #eeeeee;
  text-align: left;
  background-color: rgba(217, 221, 146, 0.2);
}

.new-wl-table tr td {
  border: 1px solid #eeeeee;
  text-align: left;
  cursor: none;
}

.new-wl-table input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  padding: 12px 12px;
  font-family: 'Poppins', sans-serif;
}

.new-wl-table .addRow {
  border: none;
  margin-right: 20px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.btn-popover {
  border: none;
  background: none;

}
/*fwl - friends wishlist*/

.fwl-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fwl-item {
  padding: 20px;
  border: $secondary 0.5px solid;
}

.flw-header-item {
  border: 1px solid gray;
  padding: 20px 50px;
}

.wishlist-table {
  display: grid;
  align-items: center;
  margin: auto;
}

.editable-div {
  border-bottom: 1px solid #f0f0f0 ;
  border-right: 1px dotted #f0f0f0;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding: 5px 5px;
}

.add-row {
  visibility: hidden;
}

.editable-div:focus + .add-row,
.editable-div:active + .add-row {
  visibility: visible;
}


.error {
  color: red;
}

.box {
  margin: 10px;
  display: inline;
  float: left;
}

.my-wishlist-menu {
  width: 95%;
  margin: 30px 40px 40px 40px;
  display: block;
  float: left;
}

.fl-right {
  display: inline-block;
  float: right;
}

.fl-left {
  display: block;
  float: left;
}

.footer {
  position: fixed;
  margin-top: 50px;
  left: 0;
  bottom: 0;
  background: $primary;
  height: 6%;
  width: 100vw;
  z-index: -10;
}

.footer div {
  position: absolute;
  left: 10%;
  bottom: 0;
}

.d-inline-block {
  display: inline-block;
}

.fwl-row {
  display: flex;
  flex-direction: row;
}

.fwl-column {
  display: flex;
  flex-direction: column;
}

