/* Color variables */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');
@import "Loader";
@import "~bootstrap";

$font-family-sans-serif: "Work Sans", sans-serif;
$primary: #2C3E50;
$secondary-blue: #85C1E9;
$secondary-orange: #f9844a;
$yellow: #f9c74f;
$secondary-gray: #BDC3C7;
$success: #efdbe4;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary-blue,
        "success": $success,
  //"info":       $info,
  //"warning":    $warning,
  //"danger":     $danger,
  //"light":      $light,
  //"dark":       $dark
);


.modal-footer {
  justify-content: center;
}

@import 'node_modules/bootstrap/scss/bootstrap';


* {
  margin: 0;
  padding: 0;
}

header {
  background-color: $secondary-orange;
}

.menu {
  //color: $success;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2em;
  width: 90vw;
  //margin: auto;
  padding: 1rem 0;
  font-family: "Work Sans", sans-serif;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1em;
  }

  li.active {
    background-color: #555;
  }

  li:hover {
    background-color: $primary;
    border-radius: 3px;

    a {
      color: #fff;
    }

  }

  li:last-child {
    margin-right: 200px;
  }

  a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    letter-spacing: .3rem;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    padding: 20px 0.25rem;
    font-size: 1.4rem;
    margin: 0 10px;
  }


  .wishlist-logo {
    width: 50px;
    height: 50px;
    background: url("../images/wish-list-icon.svg") no-repeat center center/cover;
  }
}

.home-logo {
  display: flex;
  align-items: center;

  a {
    padding: 5px;
  }
}

span.user {
  display: inline-block;
  font-size: 1.2rem;
}

.home-title {
  color: $primary;
  font-size: clamp(2rem, 1rem + 3vw, 5rem);
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 6px;
  line-height: 1;
  //font-weight: 500;
  //text-transform: uppercase;
  position: relative;
}

.delete-button {
  padding: 0 5px;
  align-items: flex-end;
  border: none;
  background: #fff;
}

.search-friend-modal {
  width: max-content;
}


.home-page {
  .section {


    &-a {
      width: 100%;
      height: 1100px;
      background-color: $secondary-orange;

      h1 {
        font-family: "Elsie", sans-serif;
        font-size: 12rem;
        font-height: 1.1rem;
        text-align: center;
        text-transform: uppercase;
        color: black;
      }

      &-text {
        width: 600px;
        margin: 2.5rem auto;

        h5 {
          text-align: center;
          text-transform: uppercase;
        }
      }

      .container-buttons {
        display: flex;
        justify-content: center;

        button {
          margin: 2.5rem;
          background-color: $yellow;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 10px;
          text-transform: uppercase;
        }
      }

      .image-lights {
        width: 1000px;
        height: 500px;
        display: block;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        max-width: 100%;
        overflow: hidden;
        background: url('/images/hero-lights.jpg') no-repeat center;
        //background-color: red;
        background-size: cover;
        position: absolute;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0

      }

      //.home-page-banner {
      //  margin: auto;
      //  display: flex;
      //  align-content: center;
      //  justify-content: center;
      //  flex-wrap: wrap;
      //  height: 100%;
      //  width: 90vw;
      //  border-radius: 20px;
      //
      //  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      //  background-size: 400% 400%;
      //  animation: gradient 15s ease infinite;
      //
      //  @keyframes gradient {
      //    0% {
      //      background-position: 0% 50%;
      //    }
      //    50% {
      //      background-position: 100% 50%;
      //    }
      //    100% {
      //      background-position: 0% 50%;
      //    }
      //  }
      //
      //}


      //.home-page-banner:before {
      //  content: "";
      //  background: url("../images/sectionA-background.jpg") no-repeat center center/cover;
      //  opacity: 0.3;
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  width: 100%;
      //  height: 100%;
      //  z-index: -1;
      //}

    }

    &-b {
      //background: $primary;
      //color: #fff;
      ///  overflow: auto;
      //margin: -1px;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: content-box;

      div {
        width: 75%;
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        margin: 50px 20px;
        padding: 20px;

        p {
          margin: 25px;
        }

        button {
          padding: 10px 10px;
          border-radius: 20px;
          margin: 0 10px;
          font-size: 18px;
          background: $secondary-blue;
          border: none;
        }
      }

      div:nth-child(even) {
        margin: auto;
        grid-template-columns: 1fr 4fr;
      }

      div:nth-child(odd) {
        margin-left: 10%;
        grid-template-columns: 4fr 1fr;
      }
    }
  }
}


//todo: chose image


//.mask1 {
//  -webkit-mask-image: url(../images/auto.png);
//  mask-image: url(../images/auto.png);
//  -webkit-mask-repeat: no-repeat;
//  mask-repeat: no-repeat;
//  mask-size: 100%;
//}
//
//.mask-footer {
//  -webkit-mask-image: url(../images/wave-footer.png);
//  mask-image: url(../images/wave-footer.png);
//  mask-size: 100%;
//}


#home-aside {
  width: 25em;
  /*position: relative;*/
  font-family: Roboto, sans-serif;
  font-size: 18px;
  float: right;
}

.login-main {
  height: 90vh;
  background-color: #fbfbfe;
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-container {
    width: 40%;
    background-color: #fff;
    //border: #b1b2c4 solid 1px;
    border-radius: 15px;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 2px 2px .4em #b1b2c4, -2px -2px .4em #b1b2c4;


    .social-login {
      margin: 40px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        width: 80%;
        margin-top: 20px;
      }
    }
  }

}


.login-row {
  position: absolute;
  width: 100em;
  top: 15%;
  left: 20%;
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
  width: 600px;
  margin: 30px;
}

.grid-table {
  display: grid;

}

.bordered {
  border: solid #ccc 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
  background: #ECECEC;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.bordered th {
  background-color: #ECECEC;
  //background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#ECECEC));
  //background-image: -webkit-linear-gradient(top, #F8F8F8, #ECECEC);
  //background-image: -moz-linear-gradient(top, #F8F8F8, #ECECEC);
  //background-image: linear-gradient(top, #F8F8F8, #ECECEC);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.bordered td:first-child, .bordered th:first-child {
  border-left: none;
}

.bordered th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}

.bordered th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}

.bordered th:only-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}

.table-cell {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.wishlist-menu {
  list-style: none;
  padding: 10px 5px;
}

.wishlist-menu li {
  padding: 5px 0;
}

.wishlist-menu li a {
  color: #5c636a;
  text-decoration: none;

}

.default-table-btn {
  display: block;
  padding: 12px 0;
}

.w-label {
  font-weight: 500;
}


.new-wl-container {
  display: flex;
  //height: 100%;
}

.new-wl-container form {
  justify-self: start;
  padding-left: 20px;
}

.new-wl-item {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin-top: 10px;
  //flex-wrap: wrap;
}

.new-wl-item .inner {
  display: flex;
  justify-content: center;
}

.new-wl-item div:first-child {
  justify-items: start;
}

.new-wl-table {
  padding: 0 10px;
  margin: 30px auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.new-wl-header {
  display: flex;

}

.btn-add {
  font-weight: 550;
  color: $secondary-blue;
}

.new-wl-row {
  border-top: 1px solid lightgrey;
}

textarea {
  width: 100%;
  resize: none;
  height: 54px;
  outline: none;
  padding: 15px;
  max-height: 300px;
  border: none;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

.new-wl-table tr th {
  font-size: 18px;
  padding: 12px;
  border: 1px solid #eeeeee;
  text-align: left;
  background-color: rgba(217, 221, 146, 0.2);
}

.new-wl-table tr td {
  border: 1px solid #eeeeee;
  text-align: left;
  cursor: none;
}

.new-wl-table input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  padding: 12px 12px;
  font-family: 'Poppins', sans-serif;
}

.new-wl-table .addRow {
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.btn-popover {
  border: none;
  background: none;
}


.share-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .btn-share {
    max-width: 50px;
  }

  .btn-share:hover {
    border: none;
  }

  .copy-link-container {
    display: flex;
    margin: 10px;
    padding: 10px;
    align-content: center;

    .copy-link {
      border: 0.5px grey solid;
      border-radius: 5px;
      padding: 5px;
      width: max-content;
    }



  }


  .orange-icon {
    color: $secondary-orange
  }
}


div.modal-content {
  width: fit-content !important;
}

.share-wishlist-wrapper {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;

  table {
    width: 100%;
    //border-collapse: collapse;
    border-radius: 20px;

    td, th, caption {
      padding: 1rem;
    }

    caption {
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    th {
      background: hsl(20  59.4 63.3 / 0.5);
    }

    tr:nth-of-type(2n) {
      background: hsl(20 59.4 63.3 / 0.1);
    }
  }
}

/*fwl - friends wishlist*/

.fwl-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fwl-item {
  padding: 20px;
  border: $secondary 0.5px solid;
}

.flw-header-item {
  border: 1px solid gray;
  padding: 20px 50px;
}

.wishlist-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  //remove inherited right arrow
  .dropend .dropdown-toggle::after {
    display: none !important;
  }
}


.editable-div {
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px dotted #f0f0f0;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding: 5px 5px;
  //min-width: 200px;
}

//.add-row {
//  visibility: hidden;
//}
//
//.wl-row:focus-within .add-row, .wl-row:hover .add-row {
//  visibility: visible;
//}


.wl-row {
  display: flex;
}


.error {
  color: red;
}

.box {
  margin: 10px;
  display: inline;
  float: left;
}

.my-wishlist-menu {
  width: 95%;
  margin: 30px 40px 40px 40px;
  display: block;
  float: left;
}

.fl-right {
  display: inline-block;
  float: right;
}

.fl-left {
  display: block;
  float: left;
}

.footer {
  background: $primary;
  //position: fixed;
  //margin-top: 50px;
  //left: 0;
  //bottom: 0;
  //background: $primary;
  //height: 6%;
  //width: 100vw;
  //z-index: -10;
}

.footer div {
  background: $primary;
}

.d-inline-block {
  display: inline-block;
}

.fwl-row {
  display: flex;
  flex-direction: row;
}

.fwl-column {
  display: flex;
  flex-direction: column;
}

